{% extends 'admin/layout.html.twig' %}

{% block body_id 'admin_timesheet_choose' %}

{% block main %}
    <h1>{{ 'title.timesheet_choose'|trans }}</h1>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
{% endblock %}

{% block sidebar %}
    {{ parent() }}

    {{ show_source_code(_self) }}
{% endblock %}