{% extends 'admin/layout.html.twig' %}

{% block body_id 'admin_timesheet_index' %}

{% block main %}
    <h1>{{ 'title.timesheet_list'|trans }}</h1>

    <table class="table table-striped">
        <thead>
        <tr>
            <th style="width:20px;"> {{ 'label.user'|trans }}</th>
            <th style="width:20px;"> {{ 'label.transport'|trans }}</th>
            <th style="width:20px;"> {{ 'label.date'|trans }}</th>
            <th style="width:20px;"> {{ 'label.client'|trans }}</th>
            <th style="width:20px;"> {{ 'label.departure_from_terminal_time'|trans }}</th>
            <th style="width:20px;"> {{ 'label.starting_mileage'|trans }}</th>
            <th style="width:20px;"> {{ 'label.arrival_to_client_time'|trans }}</th>
            <th style="width:20px;"> {{ 'label.offloading_time'|trans }}</th>
            <th style="width:20px;"> {{ 'label.departure_from_client_time'|trans }}</th>
            <th style="width:20px;"> {{ 'label.arrival_at_terminal_time'|trans }}</th>
            <th style="width:20px;"> {{ 'label.finishing_mileage'|trans }}</th>
            <th style="width:20px;"> {{ 'label.distance'|trans }}</th>
            <th style="width:20px;"> {{ 'label.cost'|trans }}</th>
        </tr>
        </thead>
        <tbody>
        {% for timesheet in timesheets %}
            <tr>
                <td>{{ timesheet.user }}</td>
                <td>{{ timesheet.transport }}</td>
                <td>{{ timesheet.date|date('Y-m-d') }}</td>
                <td>{{ timesheet.client }}</td>
                <td>{{ timesheet.departureFromTerminalTime|date('H:i') }}</td>
                <td>{{ timesheet.startingMileage }}</td>
                <td>{{ timesheet.arrivalToClientTime|date('H:i') }}</td>
                <td>{{ timesheet.offloadingTime }}</td>
                <td>{{ timesheet.departureFromClientTime|date('H:i') }}</td>
                <td>{{ timesheet.arrivalAtTerminalTime|date('H:i') }}</td>
                <td>{{ timesheet.finishingMileage }}</td>
                <td>{{ timesheet.distance }}</td>
                <td>{{ timesheet.cost }}</td>
                {% if is_granted('ROLE_USER') %}
                <td>
                    <div class="item-actions">
                        <a href="{{ path('admin_timesheet_edit', { id: timesheet.id }) }}" class="btn btn-sm btn-primary">
                            <i class="fa fa-edit"></i> {{ 'action.edit'|trans }}
                        </a>
                    </div>
                </td>
                {% endif %}
            </tr>
        {% else %}
            <tr>
                <td colspan="4" align="center">{{ 'timesheet.no_timesheets_found'|trans }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block sidebar %}
    {% if is_granted('ROLE_USER') %}
        <div class="section actions">
            <a href="{{ path('admin_timesheet_new') }}" class="btn btn-lg btn-block btn-success">
                <i class="fa fa-plus"></i> {{ 'action.create_timesheet'|trans }}
            </a>
        </div>
    {% endif %}

    {#{{ parent() }}#}

    {#{{ show_source_code(_self) }}#}
{% endblock %}
