{% extends 'admin/layout.html.twig' %}

{% block body_id 'admin_timesheet_new' %}

{% block main %}
    <h1>{{ 'title.timesheet_new'|trans }}</h1>

    {{ form_start(form) }}
        {{ form_row(form.name) }}
        {{ form_row(form.transport) }}
        {{ form_row(form.date) }}
        {{ form_row(form.client) }}
        {{ form_row(form.departureFromTerminalTime) }}
        {{ form_row(form.startingMileage) }}
        {{ form_row(form.arrivalToClientTime) }}
        {{ form_row(form.offloadingTime) }}
        {{ form_row(form.departureFromClientTime) }}
        {{ form_row(form.arrivalAtTerminalTime) }}
        {{ form_row(form.finishingMileage) }}

        <input type="submit" value="{{ 'label.create_timesheet'|trans }}" class="btn btn-primary" />

        {{ form_widget(form.saveAndCreateNew, { label: 'label.save_and_create_new', attr: { class: 'btn btn-primary' } }) }}

        <a href="{{ path('admin_timesheet_index') }}" class="btn btn-link">
            {{ 'action.back_to_list'|trans }}
        </a>
    {{ form_end(form) }}
{% endblock %}

{% block sidebar %}
    {{ parent() }}

    {{ show_source_code(_self) }}
{% endblock %}
